* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul{
    text-align: center;
    font-size: x-large;
    list-style: none;
}

ul{
    background-color: rgb(226, 50, 19);
    margin: auto;
    border-radius: 15px;
    border: 10px groove rgb(199, 146, 0);
}

.menu > li{
    display: inline-block;
}

.menu li a{
    display: block;
    text-decoration: none;
}

.menu li a:hover{
    background-color: aquamarine;
    color: aliceblue;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 15px;
}

.menu li{
    background-color: blue;
}

.menu li:hover{
    background-color: aquamarine;
    color: aliceblue;
}

.menu li:hover >ul{
    display: block;
}

.menu li ul li{
    position: relative;
}

ul a{
    text-decoration: none;
    display: block;
    padding: 20px;
    background-color: rgb(226, 50, 19);
    color: black;
}

ul a:hover{
    background-color: rgb(6, 150, 175);
}

body {
	background: #8193b9;
    font-family: 'Readex Pro', sans-serif;
	color: #0a4438;
}

.titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 20vh;
	font-family: 'Times New Roman', Times, serif;
	color: black;
	font-size: 36px;
	text-transform: uppercase;
	text-shadow: 5px 5px 7px black;
	background-color: rgb(226, 50, 19);
	width: 200vh;
	margin: auto;
	box-shadow: 15px 20px 5px rgb(32, 5, 5);
	border: 20px double rgb(199, 146, 0);
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.contenedor::after {
    /*Aparece una linea delante del contenedor*/
	/* Insertan contenido después de la acción inicial */
	content: "";
	width: 2px;
	height: 100%;
	background: #1b3231;
	position: absolute;
	top: 0;
	/* calcular el ancho de un elemento */
	left: calc(50% - 1px);
	/* Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor. */
	z-index: 1;
}

.evento {
	display: flex;
	/* alinea los elementos del contenedor flexible */
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}

/*Creara un circulo delante de la linea*/
.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #DCDFD9;
	border: 2px solid #1b3231;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.foto {
	width: 42%;
	border: 10px solid rgb(214, 129, 18);
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto img {
	width: 100%;
	vertical-align: top;
}

.fecha {
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc(42% + 20px);
	font-size: 32px;
	font-weight: normal;
}

.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid rgb(214, 129, 18);
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

/* Representa elementos cuya posición numérica en una serie de hermanos es impar */
.evento:nth-child(even) {
	flex-direction: row-reverse;
}

/*Sirve para que la flecha se dirija hacia el centro*/
.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid rgb(214, 129, 18);
	right: initial;
	left: -50px;
}

/*Para que la palabra se acomede hacia la derecha*/
.evento:nth-child(even) .fecha{
    justify-content: end;
}

.musica{
	background-color: #0849d6;
	padding: 15px 0 15px 2cm;
	border-left: 15px double darkgoldenrod;
	border-right: 15px double darkgoldenrod;
	border-bottom: 15px double darkgoldenrod;
}

h1{
	text-align: center;
	text-decoration: underline;
	color: brown;
	padding: 15px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 40px;
	background-color: #0849d6;
	border-top: 15px double darkgoldenrod;
	border-left: 15px double darkgoldenrod;
	border-right: 15px double darkgoldenrod;
}

h3{
	color: goldenrod;
}

footer{

    background-color: rgb(150, 125, 92);
    margin-top: 0.5cm;
	color: black;
	font-size: 20px;
    border-top: 10px ridge brown;
    border-left: 10px ridge brown;
    border-right: 10px ridge brown;

}

footer .creditos{
    text-align: center;
    margin-top: 5px;
}

.telefono{
    text-align:center;
    padding: 5px;
}

footer img{
    width: 40px;
    padding: 5px;
}

footer img:hover{
    filter: brightness(50%);
}

.correo{
    margin-left: 630px;
    padding: 5px;
}

.redes p{
	margin-left: 30px;
    padding: 5px;
}

.redes > .feis{
	margin-left: 100px;
}
