h1{ 
    color: chocolate;
    text-align: center;
    text-decoration: underline;
}

p{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Para linea encima y espacio entre letras */
h2{
    letter-spacing: 5px;
    text-decoration: overline;
    text-transform: capitalize; 
}
/* Para efecto tachado y para mayuscula */
h3{
    text-decoration: line-through;
    text-transform: uppercase;
}

h4{
    text-transform: lowercase; /* Para minuscula */
}

h6{
    text-align: justify;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    letter-spacing: 3px;
    color: blue;
}

h5{
    letter-spacing: 15px;
}