*{
    margin: 0;
}

html{
    background-image: url(https://quevuelenaltolosdadoscom.files.wordpress.com/2019/05/la-gran-muralla-china-y-la-dinastia-qin.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
    width: 30%;
    margin: auto;
    margin-bottom: 15px;
    border: 5px goldenrod ridge;
    border-radius: 20px;
    font-family:'Bebas Neue', cursive;
    font-size: 37px;
}

nav{
    margin: auto;
    background-color: burlywood;
    border-radius: 10px;
    width: 1000px;
    font-size: x-large;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    border: 5px darkred solid;

}

ol{
    list-style: none;
}

.menu > li{
    display: inline-block;
}

.menu li a{
    padding: 10px 12px; 
    background-color: burlywood;
    display: block;
    text-decoration: none;
    color: black;
}

.menu li a:hover{
    background-color: rgb(80, 255, 153);
    color: bisque;
}

.menu li ol{
    display: none;
    position: absolute;
    min-width: 15px;
}

.menu li{
    background-color: coral;
}

.menu li:hover{
    background-color: coral;
    color: bisque;
}

.menu li:hover > ol{
    display: block;
}

.menu li ol li{
    position: relative;
}

section{
    background-color:rgba(100, 148, 237, 0.76);
    width: 73%;
    margin-left: 25px;
    margin-top: 15px;
    font-size: 20px;
    text-align: justify;
    border: 15px double rgb(221, 145, 3);
}

section h1{
    margin-left: 30px;
    margin-top: 15px;
}

section h3{
    margin-left: 1.5cm;
    margin-top: 20px;
    text-decoration: underline;
}

section p{
    margin: 15px 40px 15px 40px;
}

section .parrafo{
    margin: 15px 80px 15px 60px;
}

.derecha{
    float: right;
    width: 250px;
    margin: 15px 105px 1cm 0;
}

.derecha > p{
    margin-left: 115px;
    text-align: center;
}

.bandera{
    margin-top: 2cm;
    width: 345px;
}

.emblema{
    margin-top: 2cm;
    width: 350px;
}

.arquitectura{
    float: right;
    width: 250px;
    margin: 0 30px 0 20px;
}

.pintura{
    float: left;
    width: 350px;
    margin: 20px 20px 0 80px;
    padding-bottom: 50px;
}

.literatura{
    float: right;
    width: 250px;
    margin: 0 30px 0 20px;
}

.danza{
    float: left;
    width: 350px;
    margin: 20px 20px 0 80px;
    padding-bottom: 50px;
}

.deporte{
    float: right;
    width: 250px;
    margin: 0 30px 0 20px;
    padding-bottom: 30px;
}

footer{
    margin: 0.5cm 0 0 0; 
    background-color: rgb(126, 62, 62);
    padding: 10px;
    margin: auto;
    width: 1550px;
    
}

footer .creditos{
    text-align: center;
    margin-top: 5px;
}

.telefono{
    text-align:center;
    padding: 5px;
}

.proyectos{
    text-align: center;
    padding: 5px;

}

footer img{
    width: 30px;
    padding: 5px;
}

footer img:hover{
    filter: brightness(50%);
}

.correo{
    text-align: center;
    padding: 5px;
}

.redes p{
    text-align: center;
    padding: 5px;
}

.redes .feis{
    margin-left: 740px;
}