*{
    margin: 0;
}

html{
    background-image: url(https://1.bp.blogspot.com/-feo9LaATa9A/TahngR3JLKI/AAAAAAAAcsc/JfON2fQTluk/s1600/texturas-textures-11.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 255, 149);
    width: 30%;
    margin: auto;
    margin-bottom: 15px;
    border: 5px darkred ridge;
    border-radius: 20px;
    font-family:'Bebas Neue', cursive;
    font-size: 37px;
}

nav{
    margin: auto;
    background-color: burlywood;
    border-radius: 10px;
    width: 1000px;
    font-size: x-large;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    border: 5px darkred solid;

}

ol{
    list-style: none;
}

.menu > li{
    display: inline-block;
}

.menu li a{
    padding: 10px 12px; 
    background-color: burlywood;
    display: block;
    text-decoration: none;
    color: black;
}

.menu li a:hover{
    background-color: rgb(80, 255, 153);
    color: bisque;
}

.menu li ol{
    display: none;
    position: absolute;
    min-width: 15px;
}

.menu li{
    background-color: coral;
}

.menu li:hover{
    background-color: coral;
    color: bisque;
}

.menu li:hover > ol{
    display: block;
}

.menu li ol li{
    position: relative;
}

.intro{
    width: 1500px;
    margin: auto;
    background-color: rgb(0, 255, 149);
    text-align: justify;
    border: 5px ridge goldenrod;
    border-radius: 20px;
    box-shadow: 20px 20px 10px black;
}

.intro p{
    font-size: larger;
    margin: 15px 35px;
}

.dolma > h1{
    width: 27%;
    margin-left: 80px;
    background-color: rgb(0, 255, 149);
    text-align: center;
    font-size: xx-large;
}

.dolma p{
    margin-top: 0;
    width: 25%;
    margin-left: 80px;
    background-color: brown;
    text-align: justify;
    font-size: larger;
    display: flex;
    float: left;
    padding: 15px;
    box-shadow: 20px 20px 10px black;
}


.kebab > h1{
    width: 27%;
    margin-left: 576px;
    background-color: rgb(0, 255, 149);
    text-align: center;
    font-size: xx-large;
}

.kebab p{
    width: 25%;
    margin-left: 70px;
    background-color: brown;
    font-size: larger;
    text-align: justify;
    margin-bottom: 3cm ;
    display: flex;
    box-shadow: 20px 20px 10px black;
}

.meze > h1{
    width: 27%;
    margin-left: 1072px;
    background-color: rgb(0, 255, 149);
    text-align: center;
    font-size: xx-large;
}

.meze p{
    width: 25%;
    margin-left: 70px;
    background-color: brown;
    font-size: larger;
    text-align: justify;
    margin-bottom: 3cm ;
    display: flex;
    box-shadow: 20px 20px 10px black;
}

.principal h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: coral;
    text-shadow: 5px 1px 5px white;
    border: 5px ridge darkred;
}

.principal{
    position: relative;
    display: inline-block;
    text-align: center;
}

.topkapi{
    position: relative;
    display: inline-block;
    display: block;
}

.secundario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-decoration: underline;
    text-shadow: 2px 1px 10px white;
    background-color: burlywood;
    border: 5px ridge darkred;
}

.fotos{
    padding: 10px 20px 20px;
    display: block;
}

img:hover{
    opacity: 0.7;
    transition: 1s;
}

footer{
    margin: 0.5cm 0 0 0; 
    background-color: rgb(126, 62, 62);
    padding: 10px;

}

footer .creditos{
    text-align: center;
    margin-top: 5px;
}

.telefono{
    text-align:center;
    padding: 5px;
}

.proyectos{
    text-align: center;
    padding: 5px;

}

footer img{
    width: 30px;
    padding: 5px;
}

footer img:hover{
    filter: brightness(50%);
}

.correo{
    text-align: center;
    padding: 5px;
}

.redes p{
    text-align: center;
    padding: 5px;
}

.redes .feis{
    margin-left: 735px;
}

