*{
    margin: 0;
}

html{
    background-color: black;

}

ul{
    text-align: center;
    font-size: x-large;
    list-style: none;
}

ul{
    background-color: rgb(39, 39, 39);
    padding-right: 30px;
    margin: auto;
    border-radius: 15px;
    border: 10px groove brown;
}

.menu > li{
    display: inline-block;
}

.menu li a{
    display: block;
    text-decoration: none;
}

.menu li a:hover{
    background-color: aquamarine;
    color: aliceblue;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 15px;
}

.menu li{
    background-color: blue;
}

.menu li:hover{
    background-color: aquamarine;
    color: aliceblue;
}

.menu li:hover >ul{
    display: block;
}

.menu li ul li{
    position: relative;
}

ul a{
    text-decoration: none;
    display: block;
    padding: 20px;
    background-color: rgb(39, 39, 39);
    color: brown;
}

ul a:hover{
    background-color: rgb(6, 150, 175);
}

section > p{
    text-align: justify;
    font-size: larger;
    margin-left: 1cm;
    color:rgb(48, 66, 13);
    font-family: cursive;
}

section{
    background-color: rgb(150, 125, 92);
    width: 1400px;
    margin: auto;
    padding: 40px;
    border-style: double ridge ;
    border-color: brown;
    border-width: 15px;
}

.imgJ{
    margin-left: 340px;
    outline: 7px ridge rgb(39, 39, 39);
    box-shadow: 17px 17px 10px;
}

h1{
    font-size: xx-large;
    text-decoration: underline;
    color: rgb(38, 50, 155);
    lighting-color: aqua;
    text-decoration-style: double;
}

footer{

    background-color: rgb(150, 125, 92);
    margin-top: 0.5cm;
    font-size: 20px;
    border-top: 10px ridge brown;
    border-left: 10px ridge brown;
    border-right: 10px ridge brown;

}

footer .creditos{
    text-align: center;
    margin-top: 5px;
}

.telefono{
    text-align: center;
    padding: 5px;
}

footer img{
    width: 30px;
    padding: 5px;
}

footer img:hover{
    filter: brightness(50%);
}

.correo{
    text-align: center;
    padding: 5px;
}

.redes p{
    text-align: center;
    padding: 5px;
}

.redes > .feis{

}