*{
    margin: 0;
}

html{
    background-image: url('https://img.freepik.com/vector-gratis/fondo-formas-geometricas-planas-azul-clasico_23-2148380726.jpg?w=2000');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul{
    text-align: center;
    font-size: x-large;
    list-style: none;
}

ul{
    background-color: rgb(39, 39, 39);
    padding-right: 30px;
    margin: auto;
    border-radius: 15px;
    border: 10px groove rgb(29, 145, 199);
}

.menu > li{
    display: inline-block;
}

.menu li a{
    display: block;
    text-decoration: none;
}

.menu li a:hover{
    background-color: aquamarine;
    color: aliceblue;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 15px;
}

.menu li{
    background-color: blue;
}

.menu li:hover{
    background-color: aquamarine;
    color: aliceblue;
}

.menu li:hover >ul{
    display: block;
}

.menu li ul li{
    position: relative;
}

ul a{
    text-decoration: none;
    display: block;
    padding: 20px;
    background-color: rgb(39, 39, 39);
    color: rgb(29, 145, 199);
}

ul a:hover{
    background-color: rgb(6, 150, 175);
}

section{
    background-color: rgb(141, 148, 145);
    padding: 15px; 
    width: 1400px;
    text-align: center;
    margin: auto;
    border-width: 10px;
    border-style: ridge double ;
    border-color: rgb(29, 145, 199);
}

section h1{
    font-size: xx-large;
    font-family: sans-serif;
}