html{
    background-image: url(https://c8.alamy.com/compes/aya25k/cartel-de-neon-iluminado-para-casino-royale-en-las-vegas-nevada-aya25k.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed ;
}

ul{
    text-align: center;
    font-size: x-large;
    list-style: none;
}



ul{
    background-color: rgb(39, 39, 39);
    padding-right: 30px;
    margin: auto;
    border-radius: 15px;
    border: 10px groove rgb(43, 184, 113);
}

.menu > li{
    display: inline-block;
}

.menu li a{
    display: block;
    text-decoration: none;
}

.menu li a:hover{
    background-color: aquamarine;
    color: aliceblue;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 15px;
}

.menu li{
    background-color: blue;
}

.menu li:hover{
    background-color: aquamarine;
    color: aliceblue;
}

.menu li:hover >ul{
    display: block;
}

.menu li ul li{
    position: relative;
}

ul a{
    text-decoration: none;
    display: block;
    padding: 20px;
    background-color: rgb(39, 39, 39);
    color: rgb(43, 184, 113);
}

ul a:hover{
    background-color: rgb(6, 150, 175);
}

.titulo{
    text-align: center;
    font-size: xx-large;
    background-color: rgb(255, 145, 0);
    box-shadow: 0 0 50px #a3e40b;
    text-shadow: 0px 0px 20px #a3e40b;
    border: 5px double rgb(11, 240, 11);
}

.juego{
    background-color: rgb(255, 145, 0);
    box-shadow: 0px 0px 50px #a3e40b;
    width: 1400px;
    margin: auto;
    padding: 15px;
    font-size: larger;
    border : 5px double rgb(11, 240, 11);
}

h1{
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(42, 189, 181);
}

input{
    background-color: rgb(206, 116, 13);
}

button{
    background-color: deepskyblue;
    box-shadow: 0 0 10px darkorchids;
}

footer{

    background-color: rgb(150, 125, 92);
    margin-top: 0.5cm;
    font-size: 20px;
    border-top: 10px ridge brown;
    border-left: 10px ridge brown;
    border-right: 10px ridge brown;

}

footer .creditos{
    text-align: center;
    margin-top: 5px;
}

.telefono{
    text-align:center;
}

footer img{
    width: 30px;
    padding: 5px;
}

footer img:hover{
    filter: brightness(50%);
}

.correo{
    text-align: center;
}

.redes p{
    text-align: center;
    padding: 5px;
}

.redes > .feis{

}