*{
    margin: 0;
}

html{
    background: url("/JetstreamA.github.io/imagenes/asia.jpg");
    background-color: cadetblue;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*background-color: rgb(163, 228, 228);*/
}

ul{
    list-style: none;
}

*/
body{
    width: 1500px;
    opacity: 1;
}

.encabezado{
    text-align: center;
    padding: 15px;
    font-size: 37px;
    margin: 0 30%;
    background-color: brown;
    border-radius: 1cm;
    border-style: solid;
    border: 5px ridge darkorange;
    font-family:'Bebas Neue', cursive;
}

nav{
    margin: auto;
    background-color: brown;
    border-radius: 10px;
    width: 1500px;
    font-size: x-large;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    border: 5px ridge darkorange;

}

ul{
    list-style: none;
}

.menu > li{
    display: inline-block;
}

.menu li a{
    padding: 10px 12px; 
    background-color: brown;
    display: block;
    text-decoration: none;
    color: black;
}

.menu li a:hover{
    background-color: rgb(80, 255, 153);
    color: bisque;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 15px;
}

.menu li{
    background-color: coral;
}

.menu li:hover{
    background-color: coral;
    color: bisque;
}

.menu li:hover > ul{
    display: block;
}

.menu li ul li{
    position: relative;
}

.mapa-asia{
    margin: 20px 26%;
    box-shadow: 20px 20px 10px rgb(131, 53, 1);
}

.continente-asiatico{
    text-align: justify;
    margin: 20px 2cm 20px;
    padding: 20px;
    font-size: larger;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oleo Script', cursive;
    background-color: brown;
    margin-bottom: 1cm;
    box-shadow: 20px 20px 10px rgb(131, 53, 1);
    border-radius: 20px;
    border: 5px ridge darkorange;
}


.izquierda{
    background-image: url(https://www.banderas-mundo.es/data/flags/w580/tr.png);
    background: size 50px;
    background-color: rgba(229,3,17,255);
    background-position-x: -90px;
    background-repeat: no-repeat;
    width: 495px;
    height: 1152px;
    float: left;
    box-shadow: 20px 15px 0 grey;
    padding-bottom: 248px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid black;
    overflow: hidden;
    
}


.titulo-turquia{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 15px;
    color: darkorange;
}

.turquia{
    margin: 15px 15px;
    font-size: large;
    font-family: 'Lobster', cursive;
    color:black;
}

.mapaT{
    width: 450px;
    margin: 15px 10px;
}

.centro{
    background-color: chartreuse;
    width: 503px;
    height: 1400px;
    float: left;
    box-shadow: 20px 15px 0 grey;
    background-image: url(https://m.media-amazon.com/images/I/61+xE6rYpuL._AC_SY879_.jpg);
    background-position: center;
    background-size: contain;
    border: 2px solid black;
    overflow: hidden;
}

.tailandia{
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
    margin-bottom: 15px;
    color: darkorange;
}

.texto-tailandia{
    margin: 15px 15px;
    font-size: large;
    font-family: 'Lobster', cursive;
}

.mapatai{
    width:450px;
    margin: 15px 20px;
}

.derecha{
    background-color: aqua;
    width: 490px;
    height: 1274px;
    float: right;
    box-shadow: 20px 15px 0 grey;
    padding-bottom: 126px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    border: 2px solid black;
    background-image: url(https://media.istockphoto.com/vectors/flat-china-flag-vector-vector-id540402402?b=1&k=6&m=540402402&s=170667a&w=0&h=_Tc2j-RA3AdCqA51Vl4N9nj8nBJ2AZg1iJNZcn7FdH4=);
    background-repeat: no-repeat;
    background-size: contain ;
    background-color: rgba(237,30,38,255);
}

.china{
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
    margin: 15px 0 15px 0;
    color: darkorange;
}

.texto-china{
    margin: 15px 15px;
    font-size: large;
    font-family: 'Lobster', cursive;
}

.mapachina{
    width: 450px;
    margin: 15px 10px
}

table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 2cm;
}

caption{
    background-image: url(https://images.vexels.com/media/users/3/157177/raw/34e34d89cb16ffed20ce130970cbe923-diseno-de-fondo-de-rombo-naranja.jpg);
    border: 3px solid goldenrod;
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
}

tr,td{
    border: 3px solid goldenrod;
    background-color:brown ;
    width: 15%;
    text-align: center;
    font-size: large;
}

.fila1 td{
    font-size: x-large;
    background-color: rgb(0, 132, 255);
}

.conforman{
    background-color: rgb(0, 132, 255);
}

.numeropaises{
    background-color: rgb(0, 132, 255);
}

footer{

    background-color: rgb(126, 62, 62);
    margin-right: 10px;
    margin-top: 0.5cm;
    border-top: 5px solid goldenrod;
    border-left: 5px solid goldenrod;
    border-right: 5px solid goldenrod;

}

footer .creditos{
    text-align: center;
    margin-top: 5px;
}

.telefono{
    text-align:center;
    padding: 5px;
}

.proyectos{
    text-align: center;
    padding: 5px;

}

footer img{
    width: 30px;
    padding: 5px;
}

footer img:hover{
    filter: brightness(50%);
}

.correo{
    text-align: center;
    padding: 5px;
}

.redes p{
    text-align: center;
    padding: 5px;
}

.redes .feis{
    margin-left: 700px;
}