*{
    margin:0
}

html{
    background: url(https://thailandtravel.nl/uploads/cache/grand-palace-bangkok-thailandtravel-1-2.jpg) ;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header{
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
    width: 30%;
    margin: auto;
    margin-bottom: 15px;
    border: 5px goldenrod ridge;
    border-radius: 20px;
    font-family:'Bebas Neue', cursive;
    font-size: 37px;
}

nav{
    margin: auto;
    background-color: burlywood;
    border-radius: 10px;
    width: 1000px;
    font-size: x-large;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    border: 5px darkred solid;

}

ol{
    list-style: none;
}

.menu > li{
    display: inline-block;
}

.menu li a{
    padding: 10px 12px; 
    background-color: burlywood;
    display: block;
    text-decoration: none;
    color: black;
}

.menu li a:hover{
    background-color: rgb(80, 255, 153);
    color: bisque;
}

.menu li ol{
    display: none;
    position: absolute;
    min-width: 15px;
}

.menu li{
    background-color: coral;
}

.menu li:hover{
    background-color: coral;
    color: bisque;
}

.menu li:hover > ol{
    display: block;
}

.menu li ol li{
    position: relative;
}

section{
    background-color: rgba(95, 158, 160, 0.897);
    margin-left: 25px;
    width: 80%;
    margin-top: 15px;
    text-align: justify;
    font-size: 20px;
}

section h1{
    margin-left: 50px;
    color:firebrick ;
}

section h3{
    margin-left: 60px;
    text-decoration: underline;
    color: firebrick;
}

h3{
    background-color: burlywood;
    width: 859px;
    padding: 5px;
    padding-left: 25px;
}

section p{
    margin: 10px 30px 20px 70px;
}

.templo{
    margin: 10px 30px 10px 70px;
}

.saludo{
    width: 250px;
    float: right;
    margin-left: 20px;
    margin-right: 25px;
}

.templotailandes{
    width: 350px;
    float: right;
    margin: 15px 10px 15px 20px;
}

.bailekhon{
    width: 250px;
    float: right;
    margin: 0 25px 0 20px;
}

.muaythai{
    width: 250px;
    float: left;
    margin: 20px 25px 0 20px;
}

.derecha{
    float: right;
    width: 250px;
    margin: 15px 15px 1cm 0;
}

.derecha .bandera{
    width: 245px;
    height: 170px;
    margin-top: 2cm;
}

.emblema{
    width: 245px;
    margin-top: 2cm;
}

.derecha > p{
    text-align: center;
}

footer{
    margin: 0.5cm 0 0 0; 
    background-color: rgb(126, 62, 62);
    padding: 10px;
}

footer .creditos{
    text-align: center;
    margin-top: 5px;
}

.telefono{
    text-align:center;
    padding: 5px;
}

.proyectos{
    text-align: center;
    padding: 5px;

}

footer img{
    width: 30px;
    padding: 5px;
}

footer img:hover{
    filter: brightness(50%);
}

.correo{
    text-align: center;
    padding: 5px;
}

.redes p{
    text-align: center;
    padding: 5px;
}

.redes .feis{
    margin-left: 740px;
}

